
config mcast 'mcast'
	option mcast_log_level '1'
	option mcast_log_type '1'
	option mcast_grp_entries '0'
	option mcast_upstream 'None'
	option mcast_upstream_wan 'None'
	option mcast_baseiface 'None'
	option mcast_downstream 'br-lan'
	option mcast_interface_filter 'None'
	option mcast_interface_filter_status '1'
	option mcast_igmp_fast_leave_status '1'
	option mcast_igmp_last_mem_query_count '2'
	option mcast_igmp_last_mem_query_count_status '1'
	option mcast_igmp_last_mem_query_interval '2'
	option mcast_igmp_last_mem_query_interval_status '1'
	option mcast_igmp_query_interval '125'
	option mcast_igmp_query_interval_status '1'
	option mcast_igmp_query_resp_interval '10'
	option mcast_igmp_query_resp_interval_status '1'
	option mcast_igmp_snooping_mode '2'
	option mcast_igmp_snooping_status '1'
	option mcast_igmp_proxy_status '1'
	option mcast_mld_fast_leave_status '1'
	option mcast_mld_last_mem_query_count '2'
	option mcast_mld_last_mem_query_count_status '1'
	option mcast_mld_last_mem_query_interval '5'
	option mcast_mld_last_mem_query_interval_status '1'
	option mcast_mld_query_interval '125'
	option mcast_mld_query_interval_status '1'
	option mcast_mld_query_resp_interval '10'
	option mcast_mld_query_resp_interval_status '1'
	option mcast_mld_snooping_mode '2'
	option mcast_mld_snooping_status '1'
	option mcast_mld_proxy_status '1'

